@import "../../Utils//Styles/shared.module.scss";

.outlined {
  border-radius: 20px;
  border: 2px solid $primary-blue;
  background-color: transparent;
  color: $primary-blue;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 600;
  padding: 5px 40px 5px 40px;
  transition: all 0.3s ease   0s;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-7px);
  }
}

.contained {
  border-radius: 20px;
  border: 2px solid $primary-blue;
  background-color: $primary-blue;
  color: $primary-white;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 600;
  padding: 5px 40px 5px 40px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-7px);
  }
}
