@import "../../Utils//Styles/shared.module.scss";

.button {
  border-radius: 20px;
  border: 2px solid $primary-blue;
  font-family: "Montserrat";
  font-size: 22px;
  padding: 5px 20px 5px 20px;

  font-weight: 600;
  transition: all 0.3s ease 0s;
  outline: none;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-7px);
  }

  &.outlined {
    background-color: transparent;
    color: $primary-blue;
  }

  &.contained {
    background-color: $primary-blue;
    color: $primary-white;
    outline: none;
  }

  &.disabled {
    cursor: not-allowed;
    background-color: lightgray;
    pointer-events: none;
  }
}
