$background-footer-lg: url("/Assets/Images/backgrounds/Bg_Footer@3x.png");
$background-footer-md: url("/Assets/Images/backgrounds/Bg_Footer@2x.png");
$background-footer-sm: url("/Assets/Images/backgrounds/Bg_Footer.png");
$background-header-lg: url("/Assets/Images/backgrounds/Bg_Header@3x.png");
$background-header-md: url("/Assets/Images/backgrounds/Bg_Header@2x.png");
$background-header-sm: url("/Assets/Images/backgrounds/Bg_Header.png");

$hero-lg: url("/Assets/Images/heros/Ic_ilustra_Hero@3x.png");
$hero-md: url("/Assets/Images/heros/Ic_ilustra_Hero@2x.png");
$hero-sm: url("/Assets/Images/heros/Ic_ilustra_Hero.png");

$main-logo: url("/Assets/Images/logo/logo_full_color.svg");

$woloxer-lg: url("/Assets/Images/woloxer/img_woloxer@3x.png");
$woloxer-md: url("/Assets/Images/woloxer/img_woloxer@2x.png");
$woloxer-sm: url("/Assets/Images/woloxer/img_woloxer.png");

$twitter-logo: url("/Assets/Images/logo/twitter_logo.svg");
