@import "../../../Utils/Styles/shared.module.scss";

.table_headers {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 20px 0px;
  font-weight: $bold-weight;
  color: $primary-blue;

  .header_item {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 150px;
  }
}
