@import "../../Utils/Styles/images_url.scss";

.home_section {
  padding: 12% 0% 5% 0%;
  display: flex;
  background: $background-header-lg;
  background-repeat: no-repeat;
  background-size: cover;
}

.left_side {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
  min-height: 250px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin: 0px;
    }
  }
}

.right_side {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
  min-height: 250px;
  background: $hero-lg;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
