@import "../../Utils/Styles/shared.module.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  align-items: center;

  &.scrolled {
    background-color: $primary-white;
  }

  .logo {
    background: $main-logo;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 150px;
    background-position: center;
  }

  .nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      font-weight: bold;

      li {
        margin: 0px 25px 0px 0px;
        a {
          text-decoration: none;
          color: black;
        }
        span {
          color: $primary-blue;
        }
      }
    }
  }

  @media all and (min-width: 300px) and (max-width: 440px) {
    position: static;
    flex-direction: column;

    .logo {
      margin: 20px 0px 0px 0px;
    }

    .nav {
      margin: 20px 0px 0px 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      ul {
        display: flex;
        flex-direction: column;
        padding: 0px;
        li {
          margin-top: 15px;
        }
      }
    }
  }

  @media all and (max-width: 949px) {
    position: static;
    flex-direction: column;

    .logo {
      margin: 20px 0px 0px 0px;
    }

    .nav {
      margin: 20px 0px 0px 0px;
    }
  }

  @media all and (min-width: 950px) {
    flex-direction: row;
    position: fixed;

    .logo {
      margin: 20px 0px 0px 140px;
    }
    .nav {
      margin: 20px 15% 0px 0px;
    }
  }
}
