@import "../../Utils/Styles/shared.module.scss";

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  align-items: center;

  &.scrolled {
    background-color: $primary-white;
  }

  .logo {
    background: $main-logo;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 150px;
    background-position: center;
    margin: 20px 0px 0px 140px;
  }

  .nav {
    margin: 20px 15% 0px 0px;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      font-weight: bold;

      li {
        margin: 0px 25px 0px 0px;
        span {
          color: $primary-blue;
        }
      }
    }
  }
}
