@import "../../Utils/Styles/images_url.scss";

.header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 0px 0px 140px;
  overflow-x: hidden;

  .logo {
    background: $main-logo;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 150px;
    background-position: center;
  }

  .nav {
    margin-right: 15%;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      font-weight: bold;

      li {
        margin: 0px 25px 0px 0px;
      }
    }
  }
}
