@import "../../Utils/Styles/shared.module.scss";

.footer {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;

  div > button {
    margin-top: 5%;
  }

  h2,
  h3 {
    margin: 0px;
  }

  .wolox_logo {
    width: 40px;
    height: 40px;
    background-image: $wolox-black-logo;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
  }

  @media all and (min-width: 300px) {
    background: $background-footer-sm;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media all and (min-width: 768px) {
    background: $background-footer-md;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media all and (min-width: 1200px) {
    background: $background-footer-lg;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
