@import "../../Utils/Styles/shared.module.scss";

.signup_section {
  padding: 8% 12%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    color: $primary-blue;
  }

  form {
    display: flex;
    flex-direction: column;

    select,
    input {
      border-radius: 10px;
      border: 1px solid $primary-blue;
      padding: 10px;
      margin-top: 15px;
      background-color: #fff;
      &:focus {
        outline: none;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transform: translateY(-7px);
      }
      option {
        padding: 10px;
        font-size: $small-font;
      }
    }

    div {
      margin-top: 15px;
    }

    label {
      text-align: left;
      color: red;
      font-size: $small-font;
      margin-top: 5px;
    }

    .terms_wrapper {
      display: flex;
      justify-content: left;
      text-align: center;
      label {
        font-weight: $normal-weight;
        font-size: $medium-font;
        color: black;
        input {
          height: 15px;
          width: 15px;
          transition: none;
          outline: none;
          box-shadow: none;
          transform: none;
        }
      }
    }
  }

  @media all and (min-width: 300px) {
    background-image: $background-header-sm;
  }

  @media all and (min-width: 768px) {
    background-image: $background-header-md;
  }

  @media all and (min-width: 1200px) {
    background-image: $background-header-lg;
  }
}
