@import "../../Utils//Styles/shared.module.scss";

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  text-align: center;

  h3 {
    font-size: $medium-font;
    padding-bottom: 20px;
    span {
      color: $primary-blue;
    }
  }

  .benefits_wapper {
    display: grid;
    max-width: 100%;
    grid-gap: 10px;

    @media all and (min-width: 400) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media all and (min-width: 401px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media all and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media all and (min-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
