.table_row {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(8, 1fr);
  margin-top: 10px;

  .tech_item {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-width: 150px;

    img {
      width: 50%;
      height: 50%;
    }

    input {
      width: 20px;
      height: 20px;
    }
  }
}
